project-bikesharing/.ipynb_checkpoints
project-bikesharing/__pycache__
project-bikesharing/.udacity-pa/__pycache__
*.zip
*.json
project-dog-classification/dogImages
project-dog-classification/lfw
project-dog-classification/.ipynb_checkpoints

.idea/

*.pt

transfer-learning/.ipynb_checkpoints/

project-dog-classification/my_test_images/

project-tv-script-generation/.ipynb_checkpoints/

project-tv-script-generation/__pycache__/
